/* Google Fonts Import
--------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Serif:regular,italic,bold,bolditalic&subset=latin);

/* General Structure and Styles
--------------------------------------------- */
body {
	background-color:#ececec;
	font-family:'Droid Sans', arial, sans-serif;
	color: #777;
}

#container {
	background-color:#fff;
	z-index: 0;
}

/* Headings 
-----------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Droid Sans', arial, sans-serif;
}

#masthead h1 {
	font-size: 2.1em;
	line-height:1.2;
	font-weight: bold;
	text-transform:uppercase;
	margin-bottom: .25em;
}

#masthead h1 a:hover{
	text-decoration:none;
}

#masthead h2 {
	font:italic .9em 'Droid Serif',  Times, serif;
	color: #777;
	margin-top: 0;
	font-size: 1.2em;
}

article h1 {
	font-size: 1.4em;
}

article time {
	font-style: italic;
	font-size: .9em;
}

article {
	margin-bottom: 5em;
	border-bottom: 1px solid #DDD;
	font-size: .95em;
	line-height: 1.6;
}

/* Single Post
---------------------------------------------*/
.display_entry article footer {
	border: 1px solid #E9EBE8;
	color: #C3C7C2;
	font-size: 13px;
	margin: 10px 20px;
	background: ##fafbf9;
	padding: 8px 12px;
	box-shadow:2px 2px 4px #D6DBD5;
	-webkit-box-shadow:2px 2px 4px #D6DBD5;
	-moz-box-shadow: 2px 2px 4px #D6DBD5;
}

.display_entry article footer img {
	float: left;
	padding: 1em;
	
}

/* Links
--------------------------------------------- */
a, a:visited {
	color: #009BC2;
	text-decoration: none;
} 
a:hover {
	color: #777!important;
	text-decoration: underline;
}

/*  Nav
----------------------------------------------*/

#masthead nav ul li {
	display: inline;
	margin-right: 2em;
}

#masthead nav ul li a {
	padding: .25em;
	text-transform: uppercase;
}

#masthead nav ul li a:hover {
	background:#F0F0F0;
	color: #999;
}

/* Layla Specific Responsive Code
-----------------------------------------------*/

@media screen and (max-width: 620px) {
  #masthead hgroup {
    text-align: center;
  }
  #masthead nav ul {
    border-top: 1px solid #ddd;
    padding: 0;
  }
  #masthead nav li {
    width: 100%;
    margin:0;
    float: none;
    background-color: #F0F0F0;
    text-align: center;
  }
  #masthead nav li a {
    width: 100%;
    margin: 0;
    padding: 12px 0 11px;
    float: left;
    display: block;
    background-color: #F0F0F0;
    border-bottom: 1px solid #ddd;
  }
  #masthead nav li a:active, 
  #masthead nav li a:focus, 
  #masthead nav li a:hover {
    text-decoration: none;
    background-color: #D4D4D4 !important;
  }
}



