/*  Custom Style Sheet for Mzingi v2.0 
	by Michael Bishop http://miklb.com
*/
body {
  width: 100%;
  float: left;
}
body {
  font: 100% normal;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */

}
#container {
  margin: 2.25em auto;
  width: 90%;
  overflow: auto;
}
#masthead {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 2em;
}
#primary-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 2em;
}
#comments {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 2em;
}
aside {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 2em;
}
footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 2em;
}

@media screen and (min-width: 768px) {
  #masthead {
    display: inline;
    float: left;
    overflow: hidden;
    width: 89.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin: 0 2.5em;
  }
  #primary-content {
    display: inline;
    float: left;
    overflow: hidden;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    margin: 0 2.5em;
  }
  #comments {
    display: inline;
    float: left;
    overflow: hidden;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    margin: 0 2.5em;
  }
  aside {
    display: inline;
    float: left;
    overflow: hidden;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
}
@media screen and (min-width: 1200px) {
  #masthead {
    display: inline;
    float: left;
    overflow: hidden;
    width: 91.66666666666666%;
    margin: 0 0.8333333333333334%;
    margin: 0 2.5em;
  }
  #primary-content {
    display: inline;
    float: left;
    overflow: hidden;
    width: 58.333333333333336%;
    margin: 0 0.8333333333333334%;
    margin: 0 2.5em;
  }
  #comments {
    display: inline;
    float: left;
    overflow: hidden;
    width: 58.333333333333336%;
    margin: 0 0.8333333333333334%;
    margin: 0 2.5em;
  }
  aside {
    display: inline;
    float: left;
    overflow: hidden;
    width: 25%;
    margin: 0 0.8333333333333334%;
  }
}
