/*General Typography Styles */
/* Some Easy to change variables && common mixins */
body {
  font: 100% normal;
  line-height: 1.5em;
  color: #213846;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a657a;
  margin-bottom: 24px;
}
h1 {
  font-size: 2.25em;
  margin-bottom: 24px;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
}
.entry p {
  font-size: 1.125em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
